@charset "utf-8";
/* --------------------------------------------------------------
-----------------------------------------------------------------

	AUTHOR:      ZHUKOV VALENTIN
	VERSION:     2013-04-17

	CONTENTS:

	0. ШРИФТ (fonts.googleapis.com)
	    0.1 'Sofadi One', cursive

	1. СБРОС

	2. ОСНОВНЫЕ ЭЛЕМЕНТЫ

	3. СТИЛИ ШАБЛОНА
	    3.1 basic
	    3.2 header
	    3.3 content
	    3.4 footer


-----------------------------------------------------------------
-------------------------------------------------------------- */



/* 1. СБРОС
-----------------------------------------------------------------------------------------------
===============================================================================================*/
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table, table td {
    padding:0;
    border:none;
    border-collapse:collapse;
}
img {
    vertical-align:top;
}
embed {
    vertical-align:top;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display:block
}
mark, rp, rt, ruby, summary, time {
    display:inline
}


/* 2. ОСНОВНЫЕ ЭЛЕМЕНТЫ
-----------------------------------------------------------------------------------------------
===============================================================================================*/
html, body {
    height: 100%;
}

body {
    font-family: 'Sofadi One', cursive;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4;
}

body{
    background: url("/media/img/template/curcle.png") no-repeat;
    background-position: top center;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1{
    font-size: 1.8em;
    line-height: 1.8em;
}
h2{
    font-size: 1.6em;
    line-height: 1.6em;
}
h3{
    font-size: 1.4em;
    line-height: 1.3em;
}
h4{
    font-size: 1.2em;
    line-height: 1.2em;
}
p{
    line-height: 1em;
    font-family: Georgia, serif;
}
span{
    color: #444;
    font-family: Georgia, serif;
}
.clear{
    clear: both;
}

/*====== color =======*/
.blue{color: #0f85cb;}
.green{color: #099616;}
.orange{color: #e57916}
.yellow{clor: #f9c300;}


/* 3. СТИЛИ ШАБЛОНА
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/*----------- 3.1 basic ---------*/
#wrap{
    min-height: 100%;
}
.inner {
    width: 960px;
    margin: auto;
}
header[role="banner"]{
    height: 243px;
}

#content[role="main"]{
    overflow: auto;
    padding-bottom: 128px;
}

footer[role="contentinfo"]{
    position: relative;
    margin-top: -128px;
    height: 128px;
    clear:both;
}
footer[role="contentinfo"] .hr{
    height: 27px;
    background: #d4eed5;
    border-radius: 0 0 27px 27px;
}
/*==================== 3.2 header ===================================*/
/*----- .wrap ---------*/
header[role="banner"] .wrap{
    height: 133px;
    padding-top: 10px;
}
header[role="banner"] hgroup h1{
    display: block;
    background: url("/media/img/template/main.png") no-repeat -20px -13px;
    width: 206px;
    height: 108px;
    text-indent: -9999em;
    float: left;
}
header[role="banner"] hgroup h2{
    width: 200px;
    padding: 5px 30px;
    border-left: 2px solid #333;
    font-size: 1.3em;
    line-height: 1em;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}

header[role="banner"] li{
    float: left;
    padding: 0 10px;
}
header[role="banner"] a{
    color: #ffffff;
}

header[role="banner"] a:visited{
    color: #ffffff;
}
/*-------- nav[role="link"]------*/
header nav[role="link"]{
    float: right;
    background: url('/media/img/template/main.png') no-repeat -248px -18px;
    width: 343px;
    height: 115px;
    color: #ffffff;
}
header nav[role="link"] h3{
    padding-top: 40px;
    padding-left: 40px;
    text-align: center
}
header nav[role="link"] ul{
    margin-left: 126px;
}

/*------- nav[role="navigation"] ----*/
header nav[role="navigation"]{
    width: 100%;
    height: 100px;
    padding-top: 5px;
    background: #007cc2;
    border-radius: 20px 0 0 0;
    position: relative;
    clear: both;
}
header nav[role="navigation"] li{
    width: 134px;
    padding: 0;
}
header nav[role="navigation"] > ul > li{
    border-right: 1px solid rgb(28, 159, 213);
    height: 40px;
    margin-top: 20px;
}
header nav[role="navigation"] > ul > li > a{
    margin-top: -10px;
    position: relative;
    display: block;
}
header nav[role="navigation"] > ul > li:last-child{
    border-right: 0;
}

header nav[role="navigation"] a > ul > li:first-child{
    background: url("/media/img/template/main.png") no-repeat;
    width: 57px;
    height: 50px;
    display: block;
    padding: 0;
    margin-left: 37px;
}
header nav[role="navigation"] a > ul > li{
    text-align: center;
    text-decoration: none;
}
header nav[role="navigation"] a > ul:hover{
    color: #ffff00;
}
header nav[role="navigation"] a > ul > li.in1{
    background-position: -30px -146px;
}
header nav[role="navigation"] a > ul > li.in2{
    background-position: -113px -146px;
}
header nav[role="navigation"] a > ul > li.in3{
    background-position: -196px -147px;
}
header nav[role="navigation"] a > ul > li.in4{
    background-position: -278px -146px;
}
header nav[role="navigation"] a > ul > li.in5{
    background-position: -363px -147px;
}
header nav[role="navigation"] a > ul > li.in6{
    background-position: -441px -143px;
}
header nav[role="navigation"] a > ul > li.in7{
    background-position: -520px -143px;
}
/*=============================== footer ================================*/
/*----- nav --------*/
footer[role="contentinfo"] nav > ul{
    margin-top: 20px;
    float: right;
}
footer[role="contentinfo"] nav > ul > li{
    float: left;
    padding: 0 10px;
}
footer[role="contentinfo"] nav > ul > li > a{
    color: #999;
    text-decoration: none;
}
footer[role="contentinfo"] nav > ul > li > a:hover{
    color: #555;
}
/*----- .wrap -------*/
footer[role="contentinfo"] .wrap{
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}
/*------- .copyright -----*/
footer[role="contentinfo"] .copyright, .share-social{
    float: left;
}
footer[role="contentinfo"] .copyright h2{
    display: block;
    background: url('/media/img/template/main.png') no-repeat -10px -210px;
    width: 50px;
    height: 26px;
    text-indent: -9999em;
    float: left;
}
footer[role="contentinfo"] .copyright small{
    padding-top: 5px;
    padding-left: 60px;
    display: block;
}
/*----- .share-social --------*/
footer[role="contentinfo"] .share-social a{
    background: url('/media/img/template/main.png') no-repeat;
    width: 29px;
    height: 26px;
    display: block;
}
footer[role="contentinfo"] .share-social .facebook{
    background-position: -80px -211px;
}
footer[role="contentinfo"] .share-social .twitter{
    background-position: -122px -211px;
}